* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 80px;
    display: flex;
    align-items: center;
}
.logo {
    width: 5%;
    display: flex;
    justify-content: center;
}
#logo {
    width: 70%;
}
.text-nav {
    width: 75%;
    font-size: 45px;
    font-weight: bold;
}
.play {
    width: 20%;
}
#play {
    width: 80px;
    font-size: 16px;
    border-radius: 4px;
    padding: 3px 0;
    border: 1px solid grey;
}


main {
    background-color: beige;
    padding: 75px 0;
}

.tabella {
    width: 50%;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    background-color: red;
    height: 96px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border: 1px solid black;
}
.box.clicked {
    background-color: green;
}



footer {
    height: 60px;
}
.foot {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 22px;
}